<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Collages</title>
        <link rel="stylesheet" href="../../view/css/bootstrap.min.css">
    </head>
    <body>
        <div class="bg-dark d-block" style="height: 80px; padding: 15px 10px">
            <div class="container text-center">
                <div class="form form-inline">
                    <form class="" action="../../Controller/user/home.php" method="POST" style="width: 100%">
                        <input type="text" name="ftext" value="" style="width: 80%" class="form-control" placeholder="Your Feedback Matter">
                        <button type="submit" name="button" class="btn btn-light">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="../../view/js/bootstrap.min.js" charset="utf-8"></script>
</html>
