<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Collages</title>
        <link rel="stylesheet" href="../../view/css/bootstrap.min.css">
    </head>
    <body>
        <div class="bg-light d-block" style="height: 80px; padding: 15px 10px">
            <div class="container text-center">
                <div class="form">
                    <br>
                    <h2>Add New Admin</h2>
                    <br><br>
                    <form class="" action="../../Controller/admin/add_admin.php" method="POST">
                        <input type="text" name="username" value="" placeholder="username" class="form-control">
                        <br><br>
                        <input type="text" name="phone" value="" placeholder="phone" class="form-control">
                        <br><br>
                         <input type="password" name="password" value="" placeholder="password" class="form-control">
                        <br><br>
                        <div class="">
                            <button type="submit" name="Cancel" class="btn btn-outline-dark">Cancel</button>
                            <button type="submit" name="Add" class="btn btn-info">Add</button>
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>

    </body>
    <script src="../../view/js/bootstrap.min.js" charset="utf-8"></script>
</html>
